{% extends "tables.html" %}


{% block content %}
<div class="col-md-12">

    <div class="panel panel-default">
        <div class="panel-body">

            <form class="form-inline" role="form">
                 <button type="button" class="btn btn-danger pull-left mb-control" id="deleteAll">批量删除</button>

                    <div class="form-group col-md-4">
                        <div class="input-group col-md-12">
                            <input class="form-control" type="text" placeholder="关键字"/>
                        </div>
                    </div>
                    <button class="btn btn-default">搜索</button>
                    <a href="/system/groups/add/" class="btn btn-success  pull-right"><span class="fa fa-plus-circle"></span>添加用户组</a>
            </form>
            <hr>
            <table id="example" class="table table-striped" width="100%">
                <thead>
                <tr>
                    <th>
                        <input  type="checkbox" class="checkall" />
                    </th>
                    <th>名称</th>
                    <th>备注</th>

                    <th>操作</th>
                </tr>
                </thead>

            </table>

        </div>

    </div>
</div>




{% endblock %}

{% block message_box %}

{% endblock %}


{% block main_js %}
    <script type="text/javascript" src="/static/js/plugins/datatables/jquery.dataTables.min.js"></script>
    <!--<script type="text/javascript" src="/static/js/database_plugins.js"></script>-->
    <script type="text/javascript">
    $(function () {

        var uiElements = function(){

        //Datatables
        var uiDatatable = function(){
            if($("#example").length > 0){
                $('#example').DataTable( {
                    "processing": true,
                    "serverSide": true,
                    "ajax": "/system/groups/data/",
                    "dom": "<'#topPlugin'>"+"t"+"<'row'<'col-sm-6'i><'col-sm-6 text-right'p>>",
                    "sort":false,
                    "columns": [
                         {
                             "sClass": "text-center",
                             "data": "id",
                             "render": function (data, type, full, meta) {
                                  return '<input class="iCheck-helper" type="checkbox" value="'+ data + '" name="id"/>';
                             },
                             "bSortable": false
                         },
                         { "data": "name" },
                         { "data": "des" },
                         {   "data": "id",
                             "render": function (data,type,full,meta) {
                                 if(full.status==1){
                                     return '<button id="editrow" class="btn btn-default btn-sm" value='+data+' type="button">编辑</button><button id="is_status" class="btn btn-default btn-sm" value='+data+' type="button">禁用</button>';
                                 }else {
                                     return '<button id="editrow" class="btn btn-default btn-sm" value='+data+' type="button">编辑</button><button id="is_status" class="btn btn-default btn-sm" value='+data+' type="button">启用</button>';
                                 }
                             }
                         },

                    ],

                    "language": {
                        "aria": {
                            "sortAscending": ": 以升序排列此列",
                            "sortDescending": ": 以降序排列此列"
                        },
                        "loadingRecords": "数据载入中...",
                        "emptyTable": "表中数据为空",
                        "info": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                        "infoEmpty": "无数据",
                        "infoFiltered": "(由 _MAX_ 项过滤得到)",
                        "infoPostFix": "",
                        "infoThousands": ",",
                        "lengthMenu": "显示 _MENU_ 项结果",
                        "search": "搜索:",
                        "zeroRecords": "没有匹配结果",
                        "paging": {
                            "first": "首页",
                            "previous": "上页",
                            "next": "下页",
                            "last": "末页"
                        },
                        "paginate": {
                            "previous": "上一页",
                            "next": "下一页",
                            "last": "尾页",
                            "first": "首页"
                        }
                    },
                } );


                $(".datatable").on('page.dt',function () {
                    onresize(100);

                });
            }


        }//END Datatable

        $(window).resize(function(){
            if($(".owl-carousel").length > 0){
                $(".owl-carousel").data('owlCarousel').destroy();
                uiOwlCarousel();
            }
        });

        return {
            init: function(){
                uiDatatable();

            }
        }

    }();

    uiElements.init();
    //全选
    $(document).on('click', 'th input:checkbox' , function(){
        var that = this;
        $(this).closest('table').find('tr > td:first-child input:checkbox')
            .each(function(){
                this.checked = that.checked;
                $(this).closest('tr').toggleClass('selected');
            });
    });

             //获取chebox选中的值
        $("#deleteAll").click(function () {
           var theArray=[];
                    $("input[name=id]:checked").each(function() {
		                theArray.push($(this).siblings().eq(0).val());
                    });
                    if(theArray.length<1){
                        bootbox.alert({      	//快速确认模态框（bootbox）的alert 仅仅一个提示
                            buttons: {
                                ok: {
                                    label: '关闭',
                                    className: 'btn-sm'
                                }
                            },
                            size: 'small',
                            message: "至少选择一个",
                            title: "提示",
                        });
                    }else{
                        //alert(theArray);  //theArray是一个数组
                        bootbox.confirm({    //快速确认模态框（bootbox）的confirm
                            buttons: {
                                confirm: {
                                    label: '确认',
                                    className: 'btn-sm btn-primary'
                                },
                                cancel: {
                                    label: '放弃',
                                    className: 'btn-sm '
                                }
                            },
                            size: 'small',
                            message: "<b style='font-size:16;color:red'>确认删除</b> 所选用户吗? 删除后将<b style='font-size:16;color:red'>无法恢复！</b>",
                            title:"警告消息",
                            callback: function(result){
                                //alert("提交成功");
                                if(result){   //判断返回值，确定是否删除成功
                                   alert("提交成功");

                                }

                            }
                        });


                    }
        });


    });


    </script>

{% endblock %}